In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Datasets/autodata.csv')

In [3]:
df.sample(5)

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
185,185,3,122,volkswagen,std,two,convertible,fwd,front,94.5,...,8.5,90.0,5500.0,24,29,11595.0,9.791667,Low,0,1
145,145,0,85,subaru,turbo,four,wagon,4wd,front,96.9,...,7.7,111.0,4800.0,23,23,11694.0,10.217391,Low,0,1
21,21,1,118,dodge,std,two,hatchback,fwd,front,93.7,...,9.4,68.0,5500.0,31,38,6377.0,7.580645,Low,0,1
162,162,1,168,toyota,std,two,hatchback,rwd,front,94.5,...,9.4,112.0,6600.0,26,29,9538.0,9.038462,Low,0,1
84,84,1,125,mitsubishi,turbo,four,sedan,fwd,front,96.3,...,7.5,116.0,5500.0,23,30,9279.0,10.217391,Low,0,1

In [4]:
print("---Information--\n")
df.info()

---Information--

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         201 non-null    int64
 1   symboling          201 non-null    int64
 2   normalized-losses  201 non-null    int64
 3   make               201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             197 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         199 non-null    float64
 22  peak-rpm           199 non-null    float64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    float64
 26  city-L/100km       201 non-null    float64
 27  horsepower-binned  199 non-null    object
 28  diesel             201 non-null    int64
 29  gas                201 non-null    int64
dtypes: float64(11), int64(9), object(10)
memory usage: 47.2+ KB

In [5]:
print("-----Describe the Dataframe-----")
df.describe()

-----Describe the Dataframe-----

,Unnamed: 0,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
count,201.000000,201.000000,201.00000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,197.000000,201.000000,199.000000,199.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,100.000000,0.840796,122.00000,98.797015,0.837102,0.915126,53.766667,2555.666667,126.875622,3.330692,3.256904,10.164279,103.396985,5117.587940,25.179104,30.686567,13207.129353,9.944145,0.099502,0.900498
std,58.167861,1.254802,31.99625,6.066366,0.059213,0.029187,2.447822,517.296727,41.546834,0.268072,0.319256,4.004965,37.553843,480.521824,6.423220,6.815150,7947.066342,2.534599,0.300083,0.300083
min,0.000000,-2.000000,65.00000,86.600000,0.678039,0.837500,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,0.000000,0.000000
25%,50.000000,0.000000,101.00000,94.500000,0.801538,0.890278,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,0.000000,1.000000
50%,100.000000,1.000000,122.00000,97.000000,0.832292,0.909722,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000,9.791667,0.000000,1.000000
75%,150.000000,2.000000,137.00000,102.400000,0.881788,0.925000,55.500000,2926.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,0.000000,1.000000
max,200.000000,3.000000,256.00000,120.900000,1.000000,1.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,1.000000,1.000000

In [6]:
print(df.isnull().sum())

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    2
diesel               0
gas                  0
dtype: int64

In [7]:
df['stroke'].fillna(method='ffill', inplace=True)
df['horsepower'].fillna(method='ffill', inplace=True)
df['peak-rpm'].fillna(method='ffill', inplace=True)
df['horsepower-binned'].fillna(method='ffill', inplace=True)

In [8]:
print(df.isnull().sum())

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    0
diesel               0
gas                  0
dtype: int64

In [9]:
print("===Data Standardization====\n")


#Converting miles per galon to liters per 100km

print("-----Standardizing 'city-mpg' column to 'city-L/100km'-----")
df["city-L/100km"] = 235/df["city-mpg"]
df.head()

===Data Standardization====

-----Standardizing 'city-mpg' column to 'city-L/100km'-----

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Low,0,1
1,1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Low,0,1
2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,2,164,audi,std,four,sedan,fwd,front,99.8,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Low,0,1
4,4,2,164,audi,std,four,sedan,4wd,front,99.4,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Low,0,1

In [10]:
print("======Data Normalization====\n")
print("-------Normalizing 'length', 'width', 'height' column----\n")

df['length']=df['length']/df['length'].max()
df['width']=df['width']/df['width'].max()
df['height']=df['height']/df['height'].max()
print(df[['length','width','height']].head())

======Data Normalization====

-------Normalizing 'length', 'width', 'height' column----

     length     width    height
0  0.811148  0.890278  0.816054
1  0.811148  0.890278  0.816054
2  0.822681  0.909722  0.876254
3  0.848630  0.919444  0.908027
4  0.848630  0.922222  0.908027

In [11]:
print("-------turning categorical values into quantitative (numeric) variables---------")

-------turning categorical values into quantitative (numeric) variables---------

In [12]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [13]:
df['aspiration'].replace('std', 0, inplace=True)
df['aspiration'].replace('turbo', 1, inplace=True)

In [16]:
df.sample(10)

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
94,94,1,103,nissan,0,four,wagon,fwd,front,94.5,...,9.4,69.0,5200.0,31,37,7999.0,7.580645,Low,0,1
157,157,0,91,toyota,0,four,hatchback,fwd,front,95.7,...,9.0,70.0,4800.0,28,34,8358.0,8.392857,Low,0,1
108,108,0,161,peugot,0,four,sedan,rwd,front,107.9,...,8.4,95.0,5000.0,19,24,15580.0,12.368421,Low,0,1
79,79,3,122,mitsubishi,1,two,hatchback,fwd,front,95.9,...,7.0,145.0,5000.0,19,24,12629.0,12.368421,Medium,0,1
192,192,-2,103,volvo,0,four,sedan,rwd,front,104.3,...,9.5,114.0,5400.0,24,28,15985.0,9.791667,Low,0,1
55,55,3,150,mazda,0,two,hatchback,rwd,front,95.3,...,9.4,135.0,6000.0,16,23,15645.0,14.687500,Medium,0,1
170,170,-1,65,toyota,1,four,sedan,fwd,front,102.4,...,22.5,73.0,4500.0,30,33,10698.0,7.833333,Low,1,0
76,76,1,161,mitsubishi,1,two,hatchback,fwd,front,93.0,...,7.6,102.0,5500.0,24,30,7689.0,9.791667,Low,0,1
44,44,0,145,jaguar,0,four,sedan,rwd,front,113.0,...,8.1,176.0,4750.0,15,19,32250.0,15.666667,Medium,0,1
190,190,-2,103,volvo,0,four,sedan,rwd,front,104.3,...,9.5,114.0,5400.0,23,28,12940.0,10.217391,Low,0,1